anytree==2.8.0
appdirs==1.4.4
Beaker==1.11.0
btrfsutil==5.15
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.6
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==35.0.0
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
filelock==3.0.12
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
louis==3.19.0
lxml==4.6.4
Mako==1.1.5
mallard-ducktype==1.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
meson==0.60.1
more-itertools==8.10.0
msgpack==1.0.2
netsnmp-python==1.0a1
ordered-set==4.0.2
packaging==20.9
pep517==0.11.0
platformdirs==2.0.2
ply==3.11
progress==1.6
pycparser==2.20
Pygments==2.10.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
rados==2.0.0
rbd==2.0.0
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
six==1.16.0
team==1.0
toml==0.10.2
tomli==1.2.1
urllib3==1.26.7
virtualenv==20.8.0
webencodings==0.5.1
zipp==3.6.0
qtpy==1.11.2
pyqt5==5.15.6
suntime==1.2.5
dbus-python==1.2.18